body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.prefooter {
    background-color: #7885A5;
}

.prefooter:hover {
    background-color: #061339;
}